.bo-diagonal {
    position: sticky;
    height: 5rem;
    top: 0;
    left: 0;
    display: inline-block;
}
.bo-diagonal::after {
    position: absolute;
    top: -1rem;
    left: -7rem;
    height: 15rem;
    width: 10rem;
    content: "";
    border-right: 1px white solid;

    transform: skewX(-30deg);
    z-index: -1;
    
    backdrop-filter: blur(1rem);
}

.bo-logo {
    position: relative;
    top: -20px;
    left: -35px;
    height: 8rem;
}